<p>You know what we're going to cook today? An @Model.Adj1
favorite of mine... a @Model.Food1 with @Model.Vegetable1 and
@Model.Food2. First I will add the @Model.Vegetable2. Next we have to @Model.Verb1 the onions and @Model.Verb2 the carrots. To make the salad, we put the
@Model.Vegetable3 and the @Model.Vegetable4 into a bowl and @Model.Verb2 them together.
Yum... delicious!</p>
